body{
  width: 100vw;
  height: 100vh;
    margin: 0;
    background: #872626;
    /*background: rgba(147, 53, 53, 0.9);*/
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
}


.container {
    width: 100vw;
    height: 100vh;
    background: #872626;
    /*background: rgba(147, 53, 53, 0.9);*/
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;

}

.top-container {

    width: 100vw;
    height: 18vh;
    box-sizing: border-box;
    background: rgba(57, 11, 11, 0.7);
    border: 0.35em solid #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.bot-container {
    width: 100vw;
    height: 8vh;
    display: flex;
    flex-direction: column;
    background-color: bisque;
}

#logo {
    height: 15vh;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.torch {
    margin-top: 0.5em;
    height: 8vh;
    width: auto;
}

.top-nav {
    border: 0.35em solid #000000;
    width:85vw;
    height: 14vh;
    align-self: center;
    background-color: #610F0F;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-nav-button {
    height: 8vh;
    width: 12vw;
    background: #810000;
    border: 0.15em solid #000000;
    margin: 1em;
    font-size: 25px;
    font-family: 'Dalek';
    font-style: normal; 
}

main {
    margin-top: 1vh;
    margin-bottom: 1vh;
    height: 74vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  .main-top {
    height: 8vh;
    margin: 0 1vw;
    display: flex;
    flex-direction: row;
    filter: drop-shadow(4px 8px 4px rgba(0, 0, 0, 0.25));

  }

  .main-mid {
    background: #A44D4D;
    height: 58vh;
    margin: 0 5.2vw;
    border: 1px solid #000000;
  }

  .main-bot {
    height: 8vh;
    margin: 0 1vw;
    display: flex;
    flex-direction: row;
    filter: drop-shadow(4px 8px 4px rgba(0, 0, 0, 0.25));
    
  }

  .left-handler {
    width: 4vw;
    display: flex;
    flex-direction: row;
  }

  .left-handler-l {
    background: #5C1E1E;
    width: 2vw;
    border: 1px solid #000000;
    border-radius: 5px;
  }

  .left-handler-r {
    background: #762C2C;
    width: 2vw;
    height: 4vh;
    border: 1px solid #000000;
    align-self: center;
  }


  .pipe-handler {
    background: #CA6262;
    width: 90vw;
    border: 1px solid #000000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .right-handler {
    display: flex;
    flex-direction: row;
    width: 4vw;
  }

 .right-handler-l {
    background: #762C2C;
    width: 2vw;
    height: 4vh;
    align-self: center;
    border: 1px solid #000000;

  }

  .right-handler-r {
    background: #5C1E1E;
    width: 2vw;
    border: 1px solid #000000;
    border-radius: 5px;
  }

#page {
  color: #F9FD26;
  
}