body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: #872626;
  font-family: 'Dalek';
  font-style: normal;
  display: flex;
  flex-direction: column;
}

.top-container {

  width: 100vw;
  height: 18vh;
  min-height: 120px;
  min-width: 200px;

  box-sizing: border-box;
  background: rgba(57, 11, 11, 0.7);
  border: 0.35em solid #000000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.bot-container {
  width: 100vw;
  height: 4vh;
  display: flex;
  flex-direction: column;
}

#logo {

  height: 15vh;
  min-height: 60px;
  min-width: 40px;
  margin-left: 0.5em;
  margin-right: 0.5em;

}

textarea {
  resize: none;
}

img {
  height: 100%;
  width: 100%;
}

.torch {
  margin-top: 0.5em;
  height: 8vh;
  width: auto;
}

.top-nav {
  border: 0.35em solid #000000;
  width:85vw;
  height: 14vh;
  min-width: 100px;
  min-height: 90px;
  align-self: center;
  background-color: #610F0F;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
  overflow-y: hidden;
}

.top-nav-button {
  height: 9vh;
  width: 14vw;
  min-width: 90px;
  min-height: 80px;
  background: #810000;
  border: 0.15em solid #000000;
  margin: 1em;
  font-size: 20px;
  font-family: 'Dalek';
  font-style: normal;
  overflow: auto;
}

main {
  margin-top: 1vh;
  margin-bottom: 1vh;
  height: 78vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.main-top {
  height: 8vh;
  margin: 0 1vw;
  display: flex;
  flex-direction: row;
  filter: drop-shadow(4px 8px 4px rgba(0, 0, 0, 0.25));
}

.main-mid {
  background: #A44D4D;
  height: 60vh;
  margin: 0 5.2vw;
  min-height: 200px;
  border: 1px solid #000000;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  font-family: Verdana;
}

.main-mid.history {
  margin: 0;
  border: none;
}

.main-mid.training {
  margin: 0;
  border: none;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.training.body {
  display: flex;
  flex-direction: column;
}

.training.header {
  border: none;
  color: black;
  -webkit-text-stroke: unset;
  margin: 0.5em 0;
  font-size: 20px;
}

.training.header-main {
  border: none;
  margin: 1em 1em 1em 1em;
  font-size: 28px;
  color: #F9FD26;
}

.training.header.name {
  border: none;
  color: black;
  -webkit-text-stroke: unset;
  margin: 0.5em 0;
  font-size: 20px;
}

.exercise {
  display: flex;
  flex-direction: row;

}

.headers {
  display: flex;
  flex-direction: row;
}

.property {
  border: none;
  color: black;
  font-size: 16px;
  -webkit-text-stroke: unset;
  margin: 0.5em 2em;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.property.name {
  border: none;
  color: black;
  font-size: 16px;
  -webkit-text-stroke: unset;
  margin: 0.5em 5em 0.5em 5em;
}

.set-property {
  border: none;
  color: black;
  font-size: 16px;
  -webkit-text-stroke: unset;
  margin: 0.5em 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.training.set-header {
  border: none;
  color: black;
  -webkit-text-stroke: unset;
  font-size: 16px;
  margin-right: 0.5em;
}

.training.set-header.name {
  border: none;
  color: black;
  font-size: 16px;
  -webkit-text-stroke: unset;
  margin-right: 0.5em;
}
.sets.set{
  display: flex;
  flex-direction: row;
  padding-left: 3em;
}
.main-mid .workout{
  border: none;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  font-family: Verdana;
  justify-content: center;
  height: auto;
}

.main-mid.admin{
  border: none;
  margin: 0 0;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Verdana;

}

#last-training {
  display: flex;
  flex-direction: row;
}

#summary {
  margin: 2em 2em;
}

.summary-container {
  margin-bottom: 2em;
  margin-top: 2em;
}

#charts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
  /*! width: 80vw; */
  align-items: center;
}

.users {
  margin: 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Verdana;
}

.user {
  border: 3px solid;
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: 12px;
  margin: 1px 4px;
  background: #D97474;
}

.user-field {
  margin: 0.1em 0.5em;
  padding: 1em 1em;
  color: black;
  -webkit-text-stroke: unset;
}

#mid-categories {
  width: 80vw;
  height: 20vh;
  min-height: 200px;
  min-width: 200px;
  margin: 2vh auto;

}

#mid-descriptions {
  width: 80vw;
  height: 70vh;
  min-height: 500px;
  min-width: 200px;
  margin: 2vh auto;
  display: flex;
  flex-wrap: wrap;
}

.description-text {
  width: 35vw;
  height: auto;
  margin: 1vh auto;
  font-size: 25px;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.mid-cat-button {
  height: 16vh;
  min-height: 80px;
  width: 20vw;
  min-width: 100px;
  margin: 1em 1em;
  filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));

  background: #CB3434;
  border: 2px solid #000000;
  border-radius: 10px;
  font-size: 25px;
}

.mid-cat-button.save{
  height: 4em;
  width: 3em;
  filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));

  background: #CB3434;
  border: 2px solid #000000;
  border-radius: 50%;
  font-size: 20px;

  align-self: center;

}

.mid-cat-button.save-exercise{
  height: 5em;
  width: 8em;
  filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));

  background: #CB3434;
  border: 3px solid #000000;
  border-radius: 2em;
  font-size: 22px;
  align-self: center;
}

.save-workout{
  height: 5em;
  width: 8em;
  filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));

  background: #CB3434;
  border: 3px solid #000000;
  border-radius: 2em;
  font-size: 25px;

  align-self: center;

}

.mid-cat-button:active{
  background: #FF5B5B;
}

.mid-cat-button:focus{
  background: #FF5B5B;
}

.mid-text {
  min-height: 80px;
  min-width: 80px;
  margin: 2vh auto;

  width: 25vw;
  height: auto;
  border: 2px solid #000000;
  border-radius: 10px;
  background: #6F1C1C;
  font-size: 25px;
  padding: 0.5em;
}

h2 {
  margin: 2vh auto;

  font-style: normal;
  font-size: 30px;
  font-weight: normal;
}

.line {
  height: 3px;
  width: 80vw;
  min-height: 3px;
  background: black;
  margin: 7em auto 0.5em auto;
}

.main-bot {
  height: 8vh;
  margin: 0 1vw;
  display: flex;
  flex-direction: row;
  filter: drop-shadow(4px 8px 4px rgba(0, 0, 0, 0.25));

}

.left-handler {
  width: 4vw;
  display: flex;
  flex-direction: row;
}

.left-handler-l {
  background: #5C1E1E;
  width: 2vw;
  border: 1px solid #000000;
  border-radius: 5px;
}

.left-handler-r {
  background: #762C2C;
  width: 2vw;
  height: 4vh;
  border: 1px solid #000000;
  align-self: center;
}


.pipe-handler {
  background: #CA6262;
  width: 90vw;
  border: 1px solid #000000;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.right-handler {
  display: flex;
  flex-direction: row;
  width: 4vw;
}

.right-handler-l {
  background: #762C2C;
  width: 2vw;
  height: 4vh;
  align-self: center;
  border: 1px solid #000000;

}

.right-handler-r {
  background: #5C1E1E;
  width: 2vw;
  border: 1px solid #000000;
  border-radius: 5px;
}

/*******************************************************************************************************************/


/* ADD ROUTINE START*/
.routine-text {
  border: 2px solid #000000;
  border-radius: 10px;
  background: #6F1C1C;
  padding: 0.5em 0.2em;
  font-size: 16px;
}

.routine{
  margin: 2vh auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 22px;
}


.routine-exercises {

  margin: auto auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 22px;
  height: 4em;
}

#routine-description {
  margin: auto auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 22px;
  height: 4em;
}

#routine-save {
  margin: auto auto;
}
/* ADD ROUTINE STOP*/

/*******************************************************************************************************************/

/* ADD WORKOUT START*/
#template-or-nontemplate {
  margin: 2vh auto;
  font-size: 25px;
  text-align: center;
}


#template-buttons {
  margin: 2vh auto;
}
/* ADD WORKOUT STOP*/

/*******************************************************************************************************************/


/* SUMMARY START*/

#message {
  font-size: 25px;
  margin: 2vh auto;
}

#summary-period {
  margin: 2vh auto;
  background: #6F1C1C;
  border: 2px solid #000000;
  border-radius: 10px;
  font-size: 20px;
  padding: 1em;
}

/* SUMMARY STOP*/

button:hover {
  cursor:pointer;
  background: #e20000;
}

h1 {
  -webkit-text-stroke: 1px black;
  color: #F9FD26;
}

.top-nav-button.active {

  -webkit-text-stroke: 1px black;
  color: #F9FD26;
}

.top-nav-button.active:hover {
  cursor:unset;
  background: #810000;
  -webkit-text-stroke: 1px black;
  color: #F9FD26;
}


.top-nav-button:hover,
input:focus ~ div{
  opacity: 1;
}



@media only screen and (max-device-width: 420px){

  .top-container {

    width: 100vw;
    height: 18vh;

    box-sizing: border-box;
    background: rgba(57, 11, 11, 0.7);
    border: 0.35em solid #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
  }

  h1 {
    font-size:20px ;

  }

  #logo {

    height: 15vh;
    min-height: 60px;
    min-width: 50px;
    margin-left: 0.5em;
    margin-right: 0.5em;

  }

  .torch {
    display:none
  }


  .top-nav-button:hover,
  input:focus ~ div{
    opacity: 0;
  }


  #mid-categories {
    background:#CCC;
    width: 80vw;
    height: 20vh;
    min-height: 400px;
    min-width: 150px;
    margin: 2vh auto;
    display: flex;
    flex-wrap: wrap;
  }

  .main-mid {
    background: #A44D4D;
    height: 64vh;
    margin: 0 5.2vw;
    min-height: 300px;
    min-width: 150px;
    border: 1px solid #000000;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    font-family: Verdana;

  }

  .main-mid.history {

    margin: 0;
    border: none;
  }


  .mid-cat-button {
    height: 20vh;
    min-height: 80px;
    width: 30vw;
    min-width: 100px;
    margin: 2vh 3vw;
    filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));

    background: #CB3434;
    border: 2px solid #000000;
    border-radius: 10px;
    font-size: 18px;
    padding: 1em;

  }


  .top-nav-button {
    height: 9vh;
    width: 14vw;
    min-width: 70px;
    min-height: 80px;
    background: #810000;
    border: 0.15em solid #000000;
    margin: 1em;
    font-size: 20px;
    font-family: 'Dalek';
    font-style: normal;
    overflow: auto;
  }

  .top-nav {
    border: 0.35em solid #000000;
    width:85vw;
    height: 14vh;
    min-width: 80px;
    min-height: 90px;
    align-self: center;
    background-color: #610F0F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
    overflow-y: hidden;
    margin-left: 1vw;
  }

}

.no-valid {
  border: 3px solid yellow;
  border-radius: 1em;
  box-shadow: 0 0 0.2em yellow;
  outline: none;
}

#space {
  height: 8em;
  width: 8em;
  border: none;
  font-size: 25px;
}
