body{
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background: #872626;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.greek-pattern {
    height: 18vh;
    width: 100%;

    display: flex;
    flex-direction: column;

}

.main-section {
    height: 60vh;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 4vh;
    width: 100vw;
    opacity: 0.5;

}

.footer-text {
    width: 20em;
    height: auto;
    justify-content: center;
    align-items: center;
}

.greek-cntr {
    height: 10vh;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#greek-pt-top {
    width: 100%;
    height: 5vh;
    align-items: flex-start;

}

#greek-pt-bot {
    width: 100%;
    height: 5vh;

    align-items: flex-end;

}

#greek-pt-cntr {
    width: 10vw;
    height: 8vh;
}

.logo{
    width: 60vw;
    height: 50vh;
    align-items: center;

    max-width: 25em;
    max-height: 32em;
    margin-right: 5vw;
}

.login-container{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 50vh;
    padding: 0.1em;

    justify-content: center;
    align-items: center;
    background: #000000;
    border: 2px solid #000000;
    border-radius: 37px;
}

.login-container-in1.form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1em;
    font-size: 25px;
    width: 98%;
    height: 98%;
    background: #933535;
    border-radius: 37px;
}

.login-container-in1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0em 0.1em;

    width: 98%;
    height: 98%;
    background: #933535;
    border-radius: 37px;
}

.login-container-in2.main-page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;

    font-family: 'Dalek';
    font-style: normal;
    font-size: 20px;

    width: 94%;
    height: 88%;
    background: rgba(57, 11, 11, 0.7);
    border: 0.15em solid #000000;
    border-radius: 2em;
}

.login-container-in2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1em;

    font-family: 'Dalek';
    font-style: normal;
    font-size: 20px;

    width: 94%;
    height: 88%;
    background: rgba(57, 11, 11, 0.7);
    border: 0.15em solid #000000;
    border-radius: 2em;
}

.main-page-button {

    background: #6F1C1C;
    border: 3px solid #000000;
    font-size: 20px;
    border-radius: 1em;
    filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));
    line-height: 3em;
    padding: 0.2em;
    margin-left: 3vw;
    margin-right: 3vw;
}

.logo-main {
    height: 100%;
    width: 100%;
    min-height: 150px;
    min-width: 100px;
    align-items: center;

}

form{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    padding: 0.5em;

    font-family: 'Dalek';
    font-style: normal;

    width: 94%;
    height: 88%;
    background: rgba(57, 11, 11, 0.7);
    border: 0.15em solid #000000;
    border-radius: 2em;

    grid-gap: 0.5em;
}

#email-1 {
    padding: 0 0.2em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#password-1 {
    padding: 0 0.2em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

input{
    padding: 0 0.2em;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    background: #6F1C1C;
    border: 1px solid #000000;
    border-radius: 10px;
    margin-right: 5vw;
    line-height: 5em;

}

button{

    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background: #6F1C1C;
    border: 3px solid #000000;
    border-radius: 10px;
    line-height: 4em;
    font-size: 20px;
    font-family: 'Dalek';
    font-style: normal;
    filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));
    margin-right: 5vw;

}

button:hover {
    cursor:pointer;
    background: #e20000;
    visibility: visible;
    opacity: 1;
}


.fb-button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background: #6F1C1C;
    border: 3px solid #000000;
    border-radius: 10px;
    line-height: 4em;
    font-size: 20px;
    font-family: 'Dalek';
    font-style: normal;
    filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));
    margin-right: 5vw;

}

.main-torch {

    height: 25vh;
    width: auto;
    margin: 0 auto;
}

.fb-icon {
    height: 3em;
    width: 3em;

    margin-right: 2em;
    margin-left: 1em;
}







@media only screen and (max-device-width: 420px){

    body{
        margin: 0;
    }

    .container {
        flex-direction: column;
    }

    * {
        font-size: 14px;
    }

    .login-container {
        width: 100%;
    }

    .main-section {
        height: 100vh;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .login-container{
        display: flex;
        flex-direction: column;
        width: 95vw;
        height: 70vh;
        padding: 0.1em;

        justify-content: center;
        align-items: center;
        background: #000000;
        border: 2px solid #000000;
        border-radius: 37px;
    }


    .login-container-in1 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0em 0.1em;

        width: 98%;
        height: 98%;
        background: #933535;
        border-radius: 37px;
    }

    .login-container-in2.main-page {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5em;

        font-family: 'Dalek';
        font-style: normal;
        font-size: 10px;

        width: 94%;
        height: 88%;
        background: rgba(57, 11, 11, 0.7);
        border: 0.15em solid #000000;
        border-radius: 2em;
    }

    .login-container-in2 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.1em;

        font-family: 'Dalek';
        font-style: normal;
        font-size: 10px;

        width: 94%;
        height: 88%;
        background: rgba(57, 11, 11, 0.7);
        border: 0.15em solid #000000;
        border-radius: 2em;
    }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        height: 0vh;
        width: 0vw;
        opacity: 0.5;

    }

    .footer-text {
        font-size: 0px;
        justify-content: center;
        align-items: center;
    }

    .greek-pattern {
        height: 0vh;
        width: 0%;

        display: flex;
        flex-direction: column;

    }

    .logo{
        width: 30vw;
        height: 30vh;
        align-items: center;

        max-width: 25em;
        max-height: 32em;
        margin-right: 1vw;
    }


    button{

        width: 60vw;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        background: #6F1C1C;
        border: 2px solid #000000;
        border-radius: 10px;
        line-height: 3em;
        font-size: 15px;
        font-family: 'Dalek';
        font-style: normal;
        filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));
        margin-right: 1vw;

    }

    .fb-button {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        background: #6F1C1C;
        border: 2px solid #000000;
        border-radius: 10px;
        line-height: 3em;
        font-size: 15px;
        font-family: 'Dalek';
        font-style: normal;
        filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));
        margin-right: 1vw;

    }

    .fb-icon {
        height: 2em;
        width: 2em;

        margin-right: 2em;
        margin-left: 1em;
    }


    #email-1 {
        padding: 0 0.2em;
        width: 20vw;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    #password-1 {
        padding: 0 0.2em;
        width: 20vw;

        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    input{
        padding: 0 0.2em;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 60vw;


        background: #6F1C1C;
        border: 1px solid #000000;
        border-radius: 10px;
        margin-right: 1vw;
        line-height: 5em;

    }

    .greek-cntr {
        height: 0vh;
        width: 0%;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #greek-pt-cntr {
        width: 0vw;
        height: 0vh;
    }

    .main-torch {

        height: 10vh;
        width: auto;
        margin: auto auto;
    }


    .login-container-in2.main-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.5em;

        font-family: 'Dalek';
        font-style: normal;
        font-size: 20px;

        width: 94%;
        height: 88%;
        background: rgba(57, 11, 11, 0.7);
        border: 0.15em solid #000000;
        border-radius: 2em;
    }
}
